
/* Giving the body and columns the specified background color, adding font size for the h2 and nav-brand elements */
body {
  background: #f1f1f1;
}
.bg-purple {
background: #b19cd9;

}
.bg-blue{
background: #9cc4d9;
}

.bg-green{
  background: #c4d99c;
  }

.bg-ltblue{
  background: #aecfe0;
    }

h2
{
  margin-bottom: 25px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bolder;

}
